/* publict */
	.setup-wrapper{
		position: relative;
		width: 100%;
		height: 100vh;
	}
	a.my-btn{
		padding: 5px 15px;
		border: 1px solid rgb(255,255,255);
		color: rgb(255,255,255);
		text-decoration: none;
		text-transform: uppercase;
	    font-family: 'Gotham-Book';
	}
/* publict */

/* navigasi */
	#navigasi{
		position: fixed;
		z-index: 10;
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: rgb(0, 0, 0);
	}
	#navigasi #nav-wrapper{
		position: relative;
		width: 90%;
		height: auto;
		margin: 0 auto;
		display: table;
		text-align: center;
	}
	#navigasi #nav-wrapper .position.left{
		display: table;
		float: left;
		width: 40%;
	}
	#navigasi #nav-wrapper .position.right{
		display: table;
		float: right;
		width: 40%;
	}
	#navigasi #nav-wrapper .position.center{
		display: table;
		margin: 0 auto;
		width: 20%;
	}

	#navigasi #nav-wrapper .nav-content{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		height: 75px;
		width: 33%;
	}
	#navigasi #nav-wrapper .nav-content.title{
		width: 100%;
	}
	#navigasi #nav-wrapper .nav-content a{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: rgb(255,255,255);
		font-size: 14px;
	    font-family: 'Gotham-Book';
	}
	#navigasi #nav-wrapper .nav-content a.title img{
		height: 45px;
		text-align: center;
	}
/* navigasi */

/* banner */
	#banner #banner-img{
		position: relative;
		width: 100%;
		height: 100vh;
		margin: 0;
		padding: 0;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	#banner #banner-img #banner-bottom-wrapper{
		position: absolute;
		top: 70vh;
		width: 100%;
		height: 30vh;
		margin: 0 auto;
	}
	#banner #banner-img #banner-bottom-wrapper #banner-bottom-content{
		position: relative;
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	#banner #banner-bottom-content #border{
		position: relative;
		padding: 15px 0px;
		border: solid 3px rgb(255,255,255);
		-webkit-border-image:-webkit-linear-gradient(white,transparent,transparent,white) 1;
		-moz-border-image:-moz-linear-gradient(white,transparent,transparent,white) 1;
		-o-border-image:-o-linear-gradient(white,transparent,transparent,white) 1;
		border-image:linear-gradient(to right,white,transparent,transparent,white) 1;
		visibility: hidden;
		opacity: 0;
		transition: all 4.51s;
	}
	#banner #banner-bottom-content #border.animation-element-scroller.in-view{
		padding: 15px 20px;
		visibility: visible;
		opacity: 1;
	}
	#banner #banner-bottom-content #border h1#title{
		text-align: center;
		text-transform: uppercase;
		color: rgb(255,255,255);
		margin: 0 auto;
	    font-family: 'Gotham';
	    font-weight: bold;
	}
	#banner #banner-bottom-content #border #sub-title-wrapper{
		position: absolute;
	    left: 0px;
        bottom: -10px;
		width: 100%;
		z-index: 1;
		text-align: center;
	}
	#banner #banner-bottom-content #border #sub-title-wrapper h4#sub-title{
		margin: 0 auto;
		width: 100%;
		text-align: center;
		color: rgb(255,255,255);
		font-family: 'Gotham';
	    font-style:italic;
	    font-weight: lighter;
	}
	#banner #banner-bottom-content img.chevron{
		margin-top: 60px;
		height: auto;
		visibility: hidden;
		opacity: 0;
		transition: all 4.51s;
	}
	#banner #banner-bottom-content img.chevron.animation-element-scroller.in-view{
		height: auto;
		visibility: visible;
		opacity: 1;
	}
/* banner */

/* style-one */
	.style-one #bg-img{
		position: relative;
		width: 100%;
		height: 100vh;
		margin: 0;
		padding: 0;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.style-one #bg-img .content{
		display: table;
		height: 100vh;
		width: 60%;
		margin: 0 auto;
		text-align: center;
	}
	.style-one #bg-img .content #midle{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		position: relative;
	}
	.style-one #bg-img .content #midle #centered{
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.style-one #bg-img .content #midle #centered h3{
		color: rgb(255,255,255);
		text-transform: uppercase;
		margin-top: -40vh;
		margin-bottom: 40px;
		font-family: 'Gotham';
	    font-style:italic;
	    font-weight: lighter;
	}
	.style-one #bg-img .content #midle #centered p{
		color: rgb(255,255,255);
		text-transform: uppercase;
		margin-bottom: 40px;
	    font-family: 'Gotham-Book';
	}
	/*animasi*/
	.style-one #bg-img .content #midle #centered.animation-element-scroller{
		visibility: hidden;
		opacity: 0;
		transform: translateY(60%);
		transition: all 2.51s;
	}
	.style-one #bg-img .content #midle #centered.animation-element-scroller.in-view{
		visibility: visible;
		opacity: 1;
		transform: translateY(0%);
	}
	/*animasi*/
	.style-one #bg-img .content img#img-display{
		margin-top: 12.5vh;
		height: 87.5vh;
		margin-left: 8vw;
	}
	.style-one #bg-img .content img#img-display.animation-element-scroller{
		visibility: hidden;
		opacity: 0;
		transform: translate(-60%);
		transition: all 2.51s;
	}
	.style-one #bg-img .content img#img-display.animation-element-scroller.in-view{
		visibility: visible;
		opacity: 1;
		transform: translate(0%);
	}
/* style-one */

/* style-two */
	.style-two{
		background: rgb(0,0,0);
	}
	.style-two #cover{
		position: relative;
		width: 100%;
		height: 100vh;
		background: rgb(0,0,0);
	    background: -webkit-linear-gradient(rgba(94,55,30,.6) 0%, rgb(0,0,0) 55%);
	    background: -o-linear-gradient(rgba(94,55,30,.6) 0%, rgb(0,0,0) 55%);
	    background: -moz-linear-gradient(rgba(94,55,30,.6) 0%, rgb(0,0,0) 55%);
	    background: linear-gradient(rgba(94,55,30,.6) 0%, rgb(0,0,0) 55%);
	}
	.style-two #cover .content{
		position: relative;
		width: 80%;
		margin: 0 auto;
		padding-top: 5vh;
	}
	.style-two #cover .content #collection-greating-wrapper{
		position: relative;
		width: 75%;
		margin: 0 auto;
	}
	.style-two #cover .content #collection-greating-wrapper h1{
		margin: 0 auto;
		margin-bottom: 20px;
	    text-align: center;
		text-transform: uppercase;
		font-family: 'Gotham';
	    font-style:italic;
	    font-weight: lighter;
	}
	.style-two #cover .content #collection-greating-wrapper p{
	    text-align: center;
	    font-family: 'Gotham';
	    font-weight: lighter;
	}
	.style-two #cover .content #collection-list-item-wrapper{
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-top: 40px;
	}
	.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper{
		width: 33%;
		margin: 0 auto;
		display: inline-grid;
	}
	.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display{
		background-size: contain;
		background-repeat: no-repeat;
		background-position-x: center;
		width: 100%;
		height: 45vh;
	}
	.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display .item-content{
		position: relative;
		margin: 0 auto;
		margin-top: 35vh;
		width: 70%;
		text-align: center;
	}
	.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display .item-content h2{
		margin-top: 0;
		margin-bottom: 10px;
		color: rgb(255,254,254);
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		font-family: 'Gotham';
	    font-style:italic;
	    font-weight: lighter;
	}
	.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display .item-content p{
		color: rgb(255,254,254);
		text-align: center;
		font-size: 10px;
		font-family: 'Gotham';
	    font-style:italic;
	    font-weight: lighter;	
	}
	.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display .item-content a{
		color: rgb(255,254,254);
		text-align: center;
		text-decoration: none;
		font-size: 12px;
		font-family: 'Gotham-Black';
	    font-style:italic;
	}
	/* animation */
		.style-two #cover .content #collection-greating-wrapper h1.animation-element-scroller,
		.style-two #cover .content #collection-greating-wrapper p.animation-element-scroller{
			visibility: hidden;
		    opacity: 0;
			color: rgba(255,255,255,0);
		    text-shadow: 
		    	25px 0px rgba(255,254,254,.8),
		    	0px 25px rgba(255,254,254,.8),
		    	-25px 0px rgba(255,254,254,.8),
		    	0px -25px rgba(255,254,254,.8);
		    transition: all 4.51s;
		}
		.style-two #cover .content #collection-greating-wrapper h1.animation-element-scroller.in-view,
		.style-two #cover .content #collection-greating-wrapper p.animation-element-scroller.in-view{
		    visibility: visible;
		    opacity: 1;
			color: rgba(255,255,255,1);
		    text-shadow: 
		    	0px 0px rgba(255,254,254,.2),
		    	0px 0px rgba(255,254,254,.2),
		    	-0px 0px rgba(255,254,254,.2),
		    	0px -0px rgba(255,254,254,.2);
		}
		.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display.animation-element-scroller{
			background-position-y: 25vh;
		    transition: all 2.51s;
		}
		.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display.animation-element-scroller.in-view{
			background-position-y: 0vh;
		}
		.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display.animation-element-scroller .item-content h2{
			visibility: hidden;
		    opacity: 0;
		    transform: translateY(-10vh);
		    transition: all 2.51s;
		}
		.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display.animation-element-scroller.in-view .item-content h2{
			visibility: visible;
		    opacity: 1;
		    transform: translateY(0);
		}
		.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display.animation-element-scroller .item-content p{
			visibility: hidden;
		    opacity: 0;
		    transform: scale(0);
		    transition: all 2.51s;
		}
		.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display.animation-element-scroller.in-view .item-content p{
			visibility: visible;
		    opacity: 1;
		    transform: scale(1);
		}
		.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display.animation-element-scroller .item-content a{
			visibility: hidden;
			color: rgba(255,255,255,.1);
		    opacity: 0;
		    text-shadow: 
		    	20px 20px rgba(255,254,254,.2),
		    	20px 20px rgba(255,254,254,.2),
		    	-20px 20px rgba(255,254,254,.2),
		    	20px -20px rgba(255,254,254,.2);
		    transition: all 2.51s;
		}
		.style-two #cover .content #collection-list-item-wrapper .list-item-wrapper .img-display.animation-element-scroller.in-view .item-content a{
			visibility: visible;
		    opacity: 1;
		    text-shadow: 
		    	0px 0px rgba(255,254,254,.2),
		    	0px 0px rgba(255,254,254,.2),
		    	-0px 0px rgba(255,254,254,.2),
		    	0px -0px rgba(255,254,254,.2);
		}
		
	/* animation */
/* style-two */

/* style-three */
	.style-three{
		background-color: rgb(0,0,0);
		padding-top: 5vh;
	}
	.style-three hr#line{
		text-align: center;
		margin: 0 auto;
	}
	.style-three h1#title{
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 60px;
		color: rgb(255,255,255);
	    text-align: center;
		text-transform: uppercase;
		font-family: 'Gotham';
	    font-style:italic;
	    font-weight: lighter;
	}
	.style-three #cocktails-list-recipe{
		position: relative;
		width: 80%;
		margin: 0 auto;
	}
	.style-three #cocktails-list-recipe .list-recipe{
		width: 24%;
		margin: 0 auto;
		display: inline-grid;
	}
	.style-three #cocktails-list-recipe .list-recipe .img-display{
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 45vh;
	}
	.style-three #cocktails-list-recipe .list-recipe h2{
		margin-top: 0;
		margin-bottom: 10px;
		color: rgb(255,254,254);
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		font-family: 'Gotham-Black';
	    font-style:italic;
	}
	.style-three #see-all-btn{
		margin-top: 40px;
		text-align: center;
	}
	/* animation */
		.style-three.animation-element-scroller hr#line{
			visibility: hidden;
			opacity: 0;
			width: 0%;
			transition: all 4.51s;
		}
		.style-three.animation-element-scroller.in-view hr#line{
			visibility: visible;
			opacity: 1;
			width: 30%
		}
		.style-three.animation-element-scroller h1#title{
			visibility: hidden;
			opacity: 0;
			text-shadow: 
				30px -30px rgba(255,255,255,.8),
				-30px 30px rgba(255,255,255,.8);
			transition: all 4.51s;
		}
		.style-three.animation-element-scroller.in-view h1#title{
			visibility: visible;
			opacity: 1;
			text-shadow: 
				0px 0px rgba(255,255,255,.1),
				0px 0px rgba(255,255,255,.1);
		}
		.style-three.animation-element-scroller #cocktails-list-recipe .list-recipe:nth-child(odd) .img-display{
			background-position: -90% bottom;
			transition: all 4.51s;
		}
		.style-three.animation-element-scroller #cocktails-list-recipe .list-recipe:nth-child(even) .img-display{
			background-position: 90% bottom;
			transition: all 4.51s;
		}
		.style-three.animation-element-scroller.in-view #cocktails-list-recipe .list-recipe .img-display{
			background-position: center bottom;
		}
		.style-three.animation-element-scroller #cocktails-list-recipe .list-recipe:nth-child(odd) h2{
			visibility: hidden;
			opacity: 0;
			text-shadow: 
				-15px 15px rgba(255,255,255,.8),
				-30px 30px rgba(255,255,255,.8);
			transition: all 4.51s;
		}
		.style-three.animation-element-scroller #cocktails-list-recipe .list-recipe:nth-child(even) h2{
			visibility: hidden;
			opacity: 0;
			text-shadow: 
				15px 15px rgba(255,255,255,.8),
				30px 30px rgba(255,255,255,.8);
			transition: all 4.51s;
		}
		.style-three.animation-element-scroller.in-view #cocktails-list-recipe .list-recipe h2{
			visibility: visible;
			opacity: 1;
			text-shadow: 
				0px 0px rgba(255,255,255,.1),
				0px 0px rgba(255,255,255,.1);
		}
		.style-three.animation-element-scroller #see-all-btn a.my-btn{
			visibility: hidden;
			opacity: 0;
			padding: 5px 25vw;
			background-color: rgba(255,255,255,1);
			color: rgb(0,0,0);
			transition: all 4.51s;	
		}
		.style-three.animation-element-scroller.in-view #see-all-btn a.my-btn{
			visibility: visible;
			opacity: 1;
			padding: 5px 15px;
			background-color: rgba(255,255,255,0);
			color: rgb(255,255,255);
		}
	/* animation */
/* style-three */

/* event aticel */
	#event-articel #bg{
		position: relative;
		width: 100%;
		height: 100vh;
		margin: 0;
		padding: 0;
		background-color: rgb(0,0,0);
	}
	#event-articel #bg h1#title{
		padding-top: 50px;
		margin: 0 auto;
		margin-bottom: 90px;
		color: rgb(255,254,254);
		text-align: center;
		text-transform: uppercase;
		font-family: 'Gotham';
	    font-style:italic;
	    font-weight: lighter;
	    visibility: hidden;
	    opacity: 0;
	    -webkit-transform: rotateX(150deg);
	    -moz-transform: rotateX(150deg);
	    transform: rotateX(150deg);
	    transition: all 4.51s;
	}
	#event-articel #bg h1#title.animation-element-scroller.in-view{
	    visibility: visible;
		opacity: 1;
		-webkit-transform: rotateY(0deg);
	    -moz-transform: rotateY(0deg);
	    transform: rotateY(0deg);
	}
	#event-articel #bg #owl-news-articel{
		position: relative;
		width: 80%;
		margin: 0 auto;
	}
	#event-articel #bg #owl-news-articel .item{
		padding: 0 25px;
	}
	#event-articel #bg #owl-news-articel .bg-img{
		height: 50vh;
		width: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}
	#event-articel #bg #owl-news-articel .bg-img .wrapper-screen{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.6);
	}
	#event-articel #bg #owl-news-articel .bg-img .wrapper-title{
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 0 20px;
	}
	#event-articel #bg #owl-news-articel .bg-img .wrapper-title p{
		color: rgb(255,255,255);
	    font-family: 'Gotham';
	    font-weight: lighter;
	}
	#event-articel #bg #owl-news-articel .bg-img .wrapper-title h4{
		color: rgb(255,255,255);
		font-family: 'Gotham-Black';
		font-style:italic;
	}
	#event-articel #bg #owl-news-articel .owl-controls{
		position: absolute;
		width: 100%;
		top: 18vh;
	}
	#event-articel #bg #owl-news-articel .owl-controls .owl-buttons{
		position: relative;
	}
	#event-articel #bg #owl-news-articel .owl-controls .owl-buttons .owl-prev{
		position: absolute;
		float: left;
		background-color: rgba(0,0,0,0);
		left: 50%;
		transform: rotate(0deg);
		transition: all 6.51s;
	}
	#event-articel #bg #owl-news-articel.animation-element-scroller.in-view .owl-controls .owl-buttons .owl-prev{
		left: -90px;
		transform: rotate(-630deg);
	}
	#event-articel #bg #owl-news-articel .owl-controls .owl-buttons .owl-next{
		position: absolute;
		float: right;
		background-color: rgba(0,0,0,0);
		right: 50%;
		transform: rotate(0deg);
		transition: all 6.51s;
	}
	#event-articel #bg #owl-news-articel.animation-element-scroller.in-view .owl-controls .owl-buttons .owl-next{
		right: -90px;
		transform: rotate(630deg);
	}
	#event-articel #bg p#all-news-articel{
		text-align: center;
		margin-top: 10vh;
	}
	#event-articel.animation-element-scroller #bg p#all-news-articel a.my-btn{
		visibility: hidden;
		opacity: 0;
		padding: 5px 25vw;
		background-color: rgba(255,255,255,1);
		color: rgb(0,0,0);
		transition: all 4.51s;	
	}
	#event-articel.animation-element-scroller.in-view #bg p#all-news-articel a.my-btn{
		visibility: visible;
		opacity: 1;
		padding: 5px 15px;
		background-color: rgba(255,255,255,0);
		color: rgb(255,255,255);
	}
/* event aticel */

/* footer*/
	#footer{
		background-color: rgb(0,0,0);
	}
	#footer #bg{
		position: relative;
		width: 100%;
		background: rgb(0,0,0);
	    background: -webkit-linear-gradient(rgb(94,55,30) 0%, rgb(0,0,0) 100%);
	    background: -o-linear-gradient(rgb(94,55,30) 0%, rgb(0,0,0) 100%);
	    background: -moz-linear-gradient(rgb(94,55,30) 0%, rgb(0,0,0) 100%);
	    background: linear-gradient(rgb(94,55,30) 0%, rgb(0,0,0) 100%);
	}
	#footer.setup-wrapper{
		height: auto;
	}
	#footer #box{
		padding-top: 5vh;
		padding-bottom: 2vh;
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
	#footer #box .wrapper-content{
		position: relative;
		float: left;
		padding: 0 2.5%;
	}
	#footer #box .wrapper-content.for-pt{
		width: 30%;
	}
	#footer #box .wrapper-content.for-pt h3#title{
		margin: 0;
		margin-bottom: 20px;
	}
	#footer #box .wrapper-content.for-pt h3#title a{
		text-shadow: 2px 2px rgb(15,15,15);
		color: rgb(255,255,255);
		font-family: 'Gotham';
	    font-weight: bold;
	    text-decoration: none;
		text-transform: uppercase;
	}
	#footer #box .wrapper-content.for-pt p{
		color: rgb(255,255,255);
		font-family: 'Gotham';
	    font-weight: lighter;
	}
	#footer #box .wrapper-content h4#title{
		color: rgb(255,255,255);
		font-family: 'Gotham';
	    font-weight: bold;
		text-transform: uppercase;
	}
	#footer #box .wrapper-content p a{
		color: rgb(255,255,255);
		text-decoration: none;
		font-family: 'Gotham';
	    font-weight: lighter;
	}
	#footer #box .wrapper-content.for-list{
		width: 20%;
	}
	#footer #box .wrapper-content.for-form{
		width: 30%;
	}
	#footer #box .wrapper-content.for-form .form-control{
		border-radius: 0;
		margin-bottom: 10px;
	}
	#footer #box .wrapper-content.for-form button{
		background-color: rgb(255,255,255);
		padding: 5px 15px;
		border: none;
	    font-family: 'Gotham';
		text-transform: uppercase;
	}
	#footer #box p.copyright{
		text-align: center;
		color: rgb(255,255,255);
	}
	#footer #box p.copyright:nth-child(even){
		margin-top: 20px;
	}
	#footer #box p.copyright a{
		text-decoration: none;
		color: rgb(255,255,255);
	}
/* footer*/